﻿@model HospitalMVC.Models.Hospital

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Hospitals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber1" class="control-label"></label>
                <input asp-for="PhoneNumber1" class="form-control" />
                <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber2" class="control-label"></label>
                <input asp-for="PhoneNumber2" class="form-control" />
                <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber1" class="control-label"></label>
                <input asp-for="FaxNumber1" class="form-control" />
                <span asp-validation-for="FaxNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber2" class="control-label"></label>
                <input asp-for="FaxNumber2" class="form-control" />
                <span asp-validation-for="FaxNumber2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiefOfMedicine" class="control-label"></label>
                <input asp-for="ChiefOfMedicine" class="form-control" />
                <span asp-validation-for="ChiefOfMedicine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesRep" class="control-label"></label>
                <input asp-for="SalesRep" class="form-control" />
                <span asp-validation-for="SalesRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpsAddress" class="control-label"></label>
                <input asp-for="GpsAddress" class="form-control" />
                <span asp-validation-for="GpsAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HelicopterAccess" /> @Html.DisplayNameFor(model => model.HelicopterAccess)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TeachingHospital" /> @Html.DisplayNameFor(model => model.TeachingHospital)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
