﻿@model HospitalMVC.Models.Hospital

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospitals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaxNumber1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxNumber1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaxNumber2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxNumber2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChiefOfMedicine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChiefOfMedicine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesRep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesRep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GpsAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GpsAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HelicopterAccess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HelicopterAccess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeachingHospital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeachingHospital)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
