﻿@model IEnumerable<HospitalMVC.Models.Hospital>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>
    List of all hospitals, you can add, edit, show details or delete a hospital.
</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaxNumber1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChiefOfMedicine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelicopterAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachingHospital)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNumber1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiefOfMedicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelicopterAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeachingHospital)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
