﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Mail:</strong> <a href="mailto:osiecki.adam@outlook.com">osiecki.adam@outlook.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/adam-osiecki-94b8b811b/" target="_blank">Adam Osiecki</a><br />

</address>
