﻿@model IEnumerable<HospitalMVC.Models.HospitalDoctor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>
    List of all hospital - doctor relations, you can add, edit, show details or delete a relation. Also you can sort records by Doctor ID or HospitalID
</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <thead>
        <tr>
            @*
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            *@
        
    <th>
        @Html.ActionLink("Doctor", "Index", new { sortOrder = ViewBag.DocIDSortParm })
    </th>
          
            <th>
                @Html.ActionLink("Hospital", "Index", new { sortOrder = ViewBag.HosIDSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeConsult)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeConsult)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
